header .menu li a {
    text-decoration: none;
    color          : grey;
}

header .menu li a:hover,
header .menu li a:active {
    color                  : black;
    background             : -webkit-gradient(linear, left bottom, left top, from(#B00020), to(red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight            : bold;
}