.banner-imagem {
    background: url("../../img/banner.jpg") no-repeat center center local;
    color: #fff;
    text-shadow: 2px 2px 3px black;
    position: absolute;
}

@media screen and (min-width: 0) {
    .banner-imagem {
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        height: 63vh;
        margin-top: 10px;
    }
}

@media screen and (min-width: 559px) {
    .banner-imagem {
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) {
    .banner-imagem {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 60vh;
        margin-top: 0;
    }
}