.arrow-down {
  width       : 0;
  height      : 0;
  border-left : 7px solid transparent;
  border-right: 7px solid transparent;
  border-top  : 11px solid #999;

  position: absolute;

  right : 10px;
  bottom: 5px;

  cursor: pointer;
}

.arrow-down:hover {
  filter: brightness(0.8);
}

.arrow {
  position: relative;
}

@media screen and (max-width: 600px) {
  .arrow-down {
    left  : 10px;
    bottom: 3px;
  }
}