.cabecalho {
    font-family     : 'Open Sans', sans-serif;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff))
}

@media screen and (max-width: 600px) {
    .cabecalho {
        height: 10vh;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        display        : flex;
        justify-content: space-between;
    }
}