.card {
    border: 1px solid grey;
    background-color: #fff;
    min-height: 360px;
    transition: transform 1s, filter 2s;
}


@media screen and (min-width: 0) {
    .card {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 288px;
        margin: 10px 10px;
        border-radius: 10px;
        filter: drop-shadow(2px 4px 6px black);
    }
}  


@media screen and (min-width: 1100px) {
    .card {
        max-width: 288px;
        margin: 0px 30px;
    }
}    


    .card:hover {
        transform: scale(1.1);
        filter: brightness(0.9); 
    }
}