.receita-botao {
  max-width: -webkit-fill-available;
  background: #8d0606;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 35px;
  cursor: pointer;
  transition: filter 0.3s;
}

.receita-botao:hover {
  filter: opacity(0.5);
}

@media screen and (min-width: 0) {
    .receita-botao {
      width: -webkit-fill-available;
      margin: 10px 0;
      height: 40px;
    }
}

@media screen and (min-width: 768px) {
   .receita-botao {
      width: 90px;
      margin-left: 16px;
      margin-bottom: 15px;
    }
}